workflows/Content Reviewer & Updater.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Content Reviewer & Updater
  use_icon_as_answer_icon: false
kind: app
version: 0.1.3
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1732308292764-source-1732308472324-target
      source: '1732308292764'
      sourceHandle: source
      target: '1732308472324'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1732308285477-source-1732308488889-target
      source: '1732308285477'
      sourceHandle: source
      target: '1732308488889'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1732308488889-source-1732308292764-target
      source: '1732308488889'
      sourceHandle: source
      target: '1732308292764'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: content
          max_length: 48000
          options: []
          required: true
          type: paragraph
          variable: content
        - label: task
          max_length: 4800
          options: []
          required: true
          type: paragraph
          variable: task
      height: 116
      id: '1732308285477'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: openai
        prompt_template:
        - id: 439c346d-0994-431d-b38d-f97b661c8310
          role: system
          text: "You are a content manager reviewing a draft content provided. Your\
            \ task is to apply all necessary changes directly to the original content\
            \ draft based on the provided Formatting, Grammar, and Styling reviews.\n\
            \n## Instructions:\nApply the Changes:\nModify the provided original content\
            \ draft by incorporating all necessary corrections and improvements identified\
            \ in the review outputs.You are permitted to make structural adjustments,\
            \ refine existing content, and enhance clarity and readability as needed,\
            \ based on the reviews.Ensure that all changes maintain the intended meaning,\
            \ tone, and flow of the original content while improving overall quality.You\
            \ may introduce new content, modify sections, or rephrase text if it enhances\
            \ the coherence, clarity, or effectiveness of the article, but avoid unnecessary\
            \ deviations from the original context.\n\n\nContent and Structural Flexibility:\n\
            Where applicable, you may restructure paragraphs, update headlines, or\
            \ add transitions to improve the article’s flow and readability.Introduce\
            \ relevant content where gaps exist or where additional context would\
            \ benefit the reader, as long as it aligns with the article’s original\
            \ purpose and scope.\n\nSegmented Feedback:\nProvide an overview of every\
            \ single change made to the content draft, segmented by #Formatting, #Grammar,\
            \ and #Styling. Ensure the feedback is clear and includes all changes.\
            \ Ensure feedback \n\nReturn the Corrected Draft:\nAfter making all necessary\
            \ changes, return the fully updated version of the content draft, ensuring\
            \ it is ready for publication. Make sure to include each internal link\
            \ to dealnews.com  that were specified in  {{#1723750974632.task#}}. \n\
            \n## CRITICAL:\nAlso make sure to add internal links from {{#1723750974632.task#}}following\
            \ this process:\n \n\n1.) Reference URLs in task that should be linked\
            \ to from the article\n\n2.) Add internal links to the article in between\
            \ paragraphs. Do NOT add internal links below the last paragraph of the\
            \ article \n\n3.) Structure the internal links in line with the example:\
            \ \n**_**[SEE ALSO: Top Tips for Saving on Streaming Bundles](https://www.dealnews.com/features/streaming-bundle-deals/)**_**\n\
            \n### Integration:\nOnce you have the URLs and anchor text, insert each\
            \ as a \"SEE ALSO\" link in the draft where it adds context or assists\
            \ the reader.\n\n5.) Add the SEE MORE sections in between paragraphs and\
            \ NOT in the conclusion sections of the pages.\n\nThe output should consist\
            \ of the updated valid HTML content with all changes seamlessly integrated.\
            \ Also return the article in markdown format in a separate section above\
            \ the generated html section. "
        selected: true
        title: Update Content
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1732308292764'
      position:
        x: 773
        y: 282
      positionAbsolute:
        x: 773
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs: []
        selected: false
        title: End
        type: end
      height: 54
      id: '1732308472324'
      position:
        x: 1163
        y: 282
      positionAbsolute:
        x: 1163
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: cba4dd34-5daa-4f8d-a1ac-c08f72c98213
        provider_name: Content Reviewer
        provider_type: workflow
        selected: false
        title: Content Reviewer
        tool_configurations: {}
        tool_label: Content Reviewer
        tool_name: content_reviewer
        tool_parameters:
          content:
            type: mixed
            value: '{{#1732308285477.content#}}'
          tasks:
            type: mixed
            value: '{{#1732308285477.task#}}'
        type: tool
      height: 54
      id: '1732308488889'
      position:
        x: 434
        y: 282
      positionAbsolute:
        x: 434
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 98.66637954408941
      y: 37.049432701908586
      zoom: 0.5497049871355436
